<header
    class="navigation-header"
>
    <nav
        class="navigation-menu"
    >
        <ul>
            @if (isAuthenticated) {
                <li>
                    <a
                        class="menu-item"
                        routerLink="/profile"
                        routerLinkActive="active"
                    >
                        Профиль
                    </a>
                </li>
                <li>
                    <a
                        class="menu-item"
                        routerLink="/shoes"
                        routerLinkActive="active"
                    >
                        Shoes
                    </a>
                </li>
            }
            @else {
                <li>
                    <a
                        class="menu-item"
                        routerLink="/signup"
                        routerLinkActive="active"
                    >
                        Регистрация
                    </a>
                </li>
                <li>
                    <a
                        class="menu-item"
                        routerLink="/signin"
                        routerLinkActive="active"
                    >
                        Авторизация
                    </a>
                </li>
            }
        </ul>
    </nav>
</header>