<section className="form-container">
    <input
        placeholder="Title"
        class="form-control"
        type="text"
        [(ngModel)]="shoe.title"
    />
    <input
        placeholder="Price"
        class="form-control"
        type="number"
        [(ngModel)]="shoe.price"
    />
    <input
        placeholder="Description"
        class="form-control"
        type="text"
        [(ngModel)]="shoe.description"
    />
    <input
        placeholder="Manufacturer"
        class="form-control"
        type="text"
        [(ngModel)]="shoe.manufacturer"
    />
    <input
        placeholder="Brand"
        class="form-control"
        type="text"
        [(ngModel)]="shoe.brand"
    />
    <input
        placeholder="Size"
        className="form-control"
        type="number"
        [(ngModel)]="shoe.size"
    />
    <button
        (click)="updateShoe()">
        Update
    </button>
</section>