<section class="form-container-shoes">
    <h2>Shoes</h2>
    
    <table class="table table-striped table-hover">   
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Title
                </th>
                <th>
                    Price
                </th>
                <th>
                    Description
                </th>
                <th>
                    Manufacturer
                </th>
                <th>
                    Brand
                </th>
                <th>
                    Size
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let shoe of shoes">
                <td>
                    {{shoe.id}}
                </td>
                <td>
                    {{shoe.title}}
                </td>
                <td>
                    {{shoe.price}}
                </td>
                <td>
                    {{shoe.description}}
                </td>
                <td>
                    {{shoe.manufacturer}}
                </td>
                <td>
                    {{shoe.brand}}
                </td>
                <td>
                    {{shoe.size}}
                </td>
            </tr>
        </tbody>
    </table> 

</section>